<ng-container
    *ngIf="paginatedResponse$ | async as paginatedResponse; else loading"
>
    <app-drawer-with-table
        [paginatedResponse]="paginatedResponse"
        [displayNameProperty]="displayNameProperty"
        [itemType]="'recipe category'"
        [formType]="this.formType"
        [noItemsMessage]="'recipe categories'"
        (newItemRequest)="addRecipeCategory($event)"
        (updateItemRequest)="updateRecipeCategory($event)"
        (deleteItemRequest)="deleteRecipeCategory($event)"
        (nextPageRequest)="requestNextPage($event)"
    >
    </app-drawer-with-table>
    <ng-container *ngIf="paginatedResponse.totalCount === 0">
        <h2>
            No recipe categories found. Click here to add new recipe category
        </h2>
    </ng-container>
</ng-container>
<ng-template #loading>
    <h2>Loading...</h2>
</ng-template>
