<ng-container *ngIf="categories$ | async as categories; else loading">
    <ng-container *ngIf="categories.length > 0; else nodata">
        <!-- <app-drawer-with-table
            [paginatedResponse]="categories"
            [displayNameProperty]="'name'"
            [itemType]="'recipe category'"
            (newItemRequest)="addCategory($event)"
            (updateItemRequest)="updateCategory($event)"
            (deleteItemRequest)="deleteCategory($event)"
        >
        </app-drawer-with-table> -->
    </ng-container>
    <ng-template #nodata>
        <h2>No recipe categories found.</h2>
    </ng-template>
</ng-container>
<ng-template #loading>
    <h2>Loading...</h2>
</ng-template>
