<ng-container
    *ngIf="paginatedResponse$ | async as paginatedResponse; else loading"
>
    <app-drawer-with-table
        [paginatedResponse]="paginatedResponse"
        [displayNameProperty]="displayNameProperty"
        [itemType]="'product category'"
        [formType]="this.formType"
        [noItemsMessage]="'product categories'"
        (newItemRequest)="addProductCategory($event)"
        (updateItemRequest)="updateProductCategory($event)"
        (deleteItemRequest)="deleteProductCategory($event)"
        (nextPageRequest)="requestNextPage($event)"
    >
    </app-drawer-with-table>
    <ng-container *ngIf="paginatedResponse.totalCount === 0">
        <h2>
            No product categories found. Click here to add new product category
        </h2>
    </ng-container>
</ng-container>
<ng-template #loading>
    <h2>Loading...</h2>
</ng-template>
