$button-height: 4em;
$button-margin: 0.5em;
$header-height: calc($button-height + $button-margin * 2);

.header {
    display: flex;

    .logo {
        margin: 1em;
    }

    .navigation-buttons {
        margin: 0 auto;
        display: flex;
        height: 100%;

        .navigation-button {
            width: $button-height;
            height: $button-height;
            margin: $button-margin;
            background-color: red;
            border: 1px solid yellow;
            border-radius: 5px;
            text-align: center;
            vertical-align: middle;

            :hover {
                cursor: pointer;
            }

            ng-icon {
                height: 100%;
                width: 100%;
            }
        }
    }
}
