.mat-mdc-table {
    .mat-column-delete {
        width: 2em;
    }

    .mat-column-update {
        width: 18em;
        button {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }

    .edited-row {
        background-color: red;
    }
}
