.mat-drawer-over {
    width: 20%;
    .drawer-form {
        text-align: center;
    }
}

.mat-drawer-container {
    padding-bottom: 4rem;
}

.mat-drawer-content {
    display: flex !important;
    margin-top: 3em;
}

.drawer-content-div {
    align-content: center;
}

.drawer-content-div:first-of-type {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.drawer-content-div:last-of-type {
    margin: 0 auto;
    width: 60%;

    table {
        width: 100%;
    }
}
