<mat-drawer-container class="drawer-simple-table">
    <mat-drawer
        #drawer
        mode="over"
        position="start"
        (closed)="onDrawerClosed()"
    >
        <div class="drawer-form">
            <app-drawer-entity-builder
                [type]="formType()"
                [editItem]="formData"
                [isEditing]="isEditing"
                (closed)="onBuilderDrawerClosed()"
                (addItemRequest)="newItemRequest.emit($event)"
            ></app-drawer-entity-builder>
        </div>
    </mat-drawer>
    <mat-drawer-content
        ><div class="drawer-content-div">
            <h4>Click here to add new {{ itemType() }}</h4>
            <button mat-flat-button (click)="addNew()">
                <ng-icon name="hugeAdd02"></ng-icon>
                Add new
            </button>
        </div>
        <div class="drawer-content-div">
            <app-simple-table
                [paginatedResponse]="paginatedResponse()"
                [displayNameProperty]="displayNameProperty()"
                [editingRowId]="editingRowId()"
                [noItemsMessage]="noItemsMessage()"
                (deleteItemRequest)="deleteItem($event)"
                (editItemRequest)="editItem($event)"
                (pageRequest)="requestNextPage($event)"
            ></app-simple-table>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
